@font-face {
    font-family: 'Sonsie One';
    src: url('Sonsie-one/SonsieOne-Regular.woff2') format('woff2'),
        url('Sonsie-one/SonsieOne-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

