* {
    box-sizing: border-box;
}

:root {
    --primary-color: #143c3c;
    --white-color: #fff;
    --text-color-primary: #575d5e;
    --text-color-black: #152427;
    --text-color-light-gray: #7d8188;
    --bg-light-green: #e2eddf;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

html,
body {
    scroll-behavior: smooth;
}

/* ======================================Common======================================== */

a {
    text-decoration: none;
}

.btn {
    --min-width: 173px;
    --height: 57px;
    --font-size: 1.8rem;
    --border-radius-btn: 40px;
    display: inline-block;
    text-align: center;
    min-width: var(--min-width);
    line-height: var(--height);
    font-weight: 500;
    font-size: var(--font-size);
    color: var(--white-color);
    background: var(--primary-color);
    border-radius: var(--border-radius-btn);
    border: 1px solid var(--primary-color);
    outline: none;
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.container {
    width: 1140px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

/* ======================================Header-Start======================================== */
.header {
    position: sticky;
    top: -10px;
    padding-top: 24px;
    background: rgba(255, 255, 255, 0.075);
    backdrop-filter: blur(15px);
    z-index: 100;
}

.header-top {
    position: relative;
    display: flex;
    align-items: center;
    padding-bottom: 12px;
}

.header-top::after {
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
    content: "";
    width: 100%;
    height: 1px;
    background: linear-gradient(
        90deg,
        #fff 0%,
        #dddcdc 51.09%,
        rgba(212, 212, 212, 0) 99.68%
    );
}

.navbar {
    margin-left: auto;
}

.navbar__list {
    display: flex;
    align-items: center;
}

.navbar__link {
    color: var(--text-color-primary);
    font-family: "Public Sans";
    padding: 8px 19px;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.55; /* 155.556% */
}

.active::after {
    position: absolute;
    bottom: 0;
    transform: translateX(-48px);
    display: inline-block;
    content: "";
    width: 16px;
    height: 2px;
    background: var(--primary-color);
}

.active {
    color: var(--text-color-black);
    font-family: "Public Sans";
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.55; /* 155.556% */
}

.signup-cta {
    margin-left: 69px;
}
/* ======================================Header-End======================================== */

/* ======================================Hero-Start======================================== */

.hero {
    padding: 60px 0 82px;
}

.hero__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Hero content */

.hero__heading {
    width: 373px;
    color: var(--text-color-black);
    font-family: "Public Sans";
    font-size: 5rem;
    font-weight: 800;
    line-height: 1.2; /* 120% */
}

.hero__desc {
    margin-top: 20px;
    width: 341px;
    color: var(--text-color-primary);
    font-family: "Public Sans";
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.55; /* 155.556% */
}

.hero__cta {
    display: flex;
    align-items: center;
    margin-top: 42px;
    column-gap: 36px;
}

.hero__video-play:hover {
    cursor: pointer;
}

.hero__video-play:hover .hero__play-icon {
    background: #83a17d;
    color: #fef6fb;
    border: none;
    cursor: pointer;
}

.hero__btn {
    display: flex;
    align-items: center;
}

.hero__video-play {
    display: flex;
    align-items: center;
}

.hero__play-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 43px;
    margin-left: -20px;
    border-radius: 50%;
    color: var(--primary-color);
    background: #fff;
    border: 1px solid var(--primary-color);
}

.hero__video-btn-title {
    margin-left: 15px;
    color: #152427;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66; /* 166.667% */
}

/* Hero media */

.hero__media {
    position: relative;
    margin-left: 76px;
    width: 646px;
    height: 543px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
}

.hero__image--down {
    align-self: flex-end;
}

.hero__thumb {
    width: 202px;
    height: 466px;
    border-radius: 110px;
    object-fit: cover;
}

.hero__circle__blur {
    position: absolute;
    top: 122px;
    left: 156px;
    width: 340px;
    height: 340px;
    border-radius: 50%;
    background: #4dbb9a;
    filter: blur(137px);
    z-index: -5;
}

/* Hero Deco */
.hero__deco-up-icon {
    position: absolute;
    transform: translateX(-100%) rotate(9.392deg);
    left: -142.58px;
    top: -31.39px;
}

.hero__deco-up-line {
    position: absolute;
    top: -32px;
    left: -183px;
}

.hero__deco-down-icon {
    position: absolute;
    right: 0;
}

.hero__deco-down-line {
    position: absolute;
    transform: rotate(175.95deg);
    rotate: 180deg;
    right: 50px;
    bottom: -85.69px;
}
/* ======================================Hero-End======================================== */

/* ======================================Sponsor-Start======================================== */
.sponsor {
    padding: 53px 0;
}

.sponsor__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 76px 121px;
    background: #e2eddf;
    border-radius: 101px;
    align-items: center;
}

.sponsor__logo-item {
    display: flex;
    align-items: center;
}

.sponsor__logo-google {
    color: var(--primary-color);
    font-size: 3.1rem;
    font-weight: 500;
    line-height: 1.51;
}

.sponsor__logo-slack {
    color: var(--primary-color);
    font-size: 3.2rem;
    font-weight: 600;
    line-height: 1.5;
}

.sponsor__logo-agworld {
    color: #163c35;
    margin-left: 11px;
    font-size: 2.6rem;
    font-weight: 400;
    line-height: 1.5;
}

.sponsor__logo-riotinto {
    color: var(--primary-color);
    font-family: "Sonsie One";
    font-size: 2.3rem;
    font-weight: 400;
    line-height: 1.3;
}

.sponsor__logo-heroku {
    margin-left: 14px;
    color: var(--primary-color);
    font-size: 1.9rem;
    font-weight: 600;
    line-height: 1.52;
    letter-spacing: 1.995px;
}
/* ======================================Sponsor-End======================================== */

/* ======================================Services-Start======================================== */
.service {
    padding: 53px 0;
}

.section__sub-title {
    display: flex;
    align-items: center;
    color: var(--text-color-black);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.62; /* 162.5% */
}

.section__sub-title::before {
    margin-right: 21px;
    display: inline-block;
    content: "";
    width: 25px;
    height: 1px;
    background: var(--text-color-black);
}

.service__header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 12px;
}

.section-heading {
    color: var(--text-color-black);
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.23; /* 123.81% */
}

.service__heading {
    position: relative;
    width: 45.65%;
}

.service__heading::after {
    position: absolute;
    top: 83px;
    right: 103px;
    display: inline-block;
    content: "";
    width: 66px;
    height: 2px;
    background: var(--text-color-black);
}

.service__header-control {
    display: flex;
    align-items: center;
    column-gap: 17px;
}

.service__control-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    color: var(--text-color-black);
    background: var(--bg-light-green);
    border: none;
}

.service__control-btn:hover {
    background: var(--text-color-black);
    color: var(--white-color);
    cursor: pointer;
}

.service__control-next-icon {
    rotate: 180deg;
}

.service__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 16px;
    margin-top: 76px;
}

.service-item {
    border-radius: 20px;
}

.service__item:hover {
    background: var(--white-color);
    box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
    border-radius: 20px;
}

.service__item:hover .service__thumb {
    transform: scale(1.1);
}

.service__item:hover .service__info {
    padding: 24px 18px;
}

.service__image {
    display: inline-block;
    /* width: 100%; */
    overflow: hidden;
    border-radius: 20px 20px 0 0;
}

.service__thumb {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 318px;
    border-radius: 20px 20px 0 0;
    transition: 0.25s;
}

.service__info {
    padding: 24px 0;
    transition: 0.25s;
}

.service__title {
    color: var(--text-color-black);
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.service__desc {
    text-align: left;
    width: 268px;
    margin-top: 18px;
    color: #7d8188;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.71; /* 171.429% */
}
/* ======================================Services-End======================================== */

/* ======================================About_us-Start======================================== */
.about {
    padding: 96px 0;
}

.about__inner {
    display: flex;
    justify-content: space-between;
}

.about__media {
    position: relative;
    width: 591px;
    height: 557px;
}

.about__image {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 21px;
    margin-top: 13px;
}

.about__img {
    width: 284px;
    height: 480px;
    border-radius: 210px;
    object-fit: cover;
}

.about__img:first-child {
    margin-top: 77px;
}

.about__stats-table {
    position: absolute;
    right: -9px;
    bottom: -8px;
    width: 143px;
    height: 144px;
    padding: 19px 23px 11px;
    border-radius: 8px;
    background: var(--white-color);
    box-shadow: 0px 7px 54px 0px rgba(154, 154, 154, 0.25);
}

.about__stats-title {
    color: var(--text-color-black);
    font-family: "Public Sans";
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.about__stats-desc {
    margin-top: 6px;
    color: var(--text-color-primary);
    font-family: "Public Sans";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4; /* 140% */
    opacity: 0.4;
}

.about__stats-num {
    margin-top: 10px;
    color: var(--text-color-black);
    font-family: "Public Sans";
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.4; /* 140% */
}

.about__stats-loading-bar {
    position: relative;
    margin-top: 3px;
    width: 96px;
    height: 2px;
    border-radius: 10px;
    background: #eaeaea;
}

.about__stats-loading-bar::after {
    position: absolute;
    left: 0;
    display: inline-block;
    content: "";
    width: 40px;
    height: 2px;
    border-radius: 10px;
    background: #83a17d;
}

.about__stats-loading {
    margin-top: 3px;
    color: var(--text-color-black);
    text-align: right;
    font-family: "Public Sans";
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.4; /* 140% */
}

.about__stats-team-list {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}

.about__team {
    color: var(--text-color-black);
    font-family: "Public Sans";
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.4; /* 140% */
}

.about__team-members {
    display: flex;
    align-items: center;
}

.about__avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -6px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid var(--white-color);
}

.about__avatar:first-child {
    margin-left: 0;
}

.about__content {
    width: 42.54%;
}

.about__heading {
    margin-top: 20px;
}

.about__desc {
    margin-top: 11px;
    color: var(--text-color-light-gray);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.62; /* 162.5% */
}

.about__content-row {
    margin-top: 16px;
    padding: 20px 0;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #83a17d;
}

.about__content-num {
    margin-right: 22px;
    color: var(--text-color-black);
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.23; /* 123.81% */
}

.about__content-desc {
    width: 364px;
    color: var(--text-color-light-gray);
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.71; /* 171.429% */
}

.about__deco-star {
    position: absolute;
    top: -18px;
    left: 46px;
}

.about__deco-line {
    position: absolute;
    top: 26.11px;
    left: 85.23px;
}
/* ======================================About_us-End======================================== */
